*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
	color: #fff;
	height: 850px;
	background-image: url('img/bgg.jpg');
	background-size: cover;
	background-repeat: no-repeat;

}

@media screen and (orientation: portrait){

#main{
	width: 100%;
	height: 100%;
	
	position: relative;
}

#main .menu{
	cursor: pointer;

	margin: 15px 6px;
}

.menu .line1{
	width: 18px;
	height: 1px;
	background-color: #fff;

	margin: 5px 10px;
}

.menu .line2{
	width: 13px;
	height: 1px;
	background-color: #fff;

	margin-left: 10px;
}

.menu .line3{
	width: 17px;
	height: 1px;
	background-color: #fff;

	margin: 5px 10px;
}

#main .content{
	width: 100%;
	height: 93%;
	/*background-color: skyblue;*/

	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-direction: column;
}

.content .title span{
	color: #fff;
	font-size: 1.2rem;
	letter-spacing: 1px;
}

.content .title h1{
	color: #fff;
	text-align: center;
	font-size: 2rem;
	letter-spacing: 2.5px;

	margin-top: 10px;
}

.content .info{
	display: flex;
	justify-content: center;
	align-items: center;

	margin-bottom: 50px;
}

.info .profile{
	width: 70px;
	height: 70px;
	border-radius: 50%;
	background-color: blue;
}

.profile img{
	width: 100%;
	height: 100%;
	object-fit: cover;
	border-radius: 50%;
}

.info .love{
	width: 50px;
	height: 50px;
	border-radius: 50%;
	background-color: rgba(0,0,0,0.5);

	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0 35px;
}

.fa-heart{
	font-size: 1.2rem;
}

#memory{
	width: 100%;
	height: 100%;
	background-image: url('img/bg.jpg');
	background-size: cover;
	background-repeat: no-repeat;

	position: absolute;
	top: 0;
	left: 0;
}

#memory .close{
	margin: 12px 20px 8px 0;
}

.close span{
	letter-spacing: 1px;
}

.close i{
	margin-left: 110px;
}

.fa-xmark{
	font-size: 1.4rem;
}

#memory .photos{
	width: 100%;
	height: 92%;
	/*background-color: skyblue;*/

	margin-top: 15px;
}

.photos .images{
	display: flex;
	justify-content: space-around;

	margin-bottom: 30px;
}

/*Additional CSS*/

.hide{
	opacity: 0;
}


.photos .first{
	color: purple;
	width: 210px;
	height: 120px;
	background-color: skyblue;
	box-shadow: 0px 0px 3px 4px rgba(0, 0, 0, 0.3);

	position: relative;
}

.first::before{
	content: '1st Date';
	font-size: 1.4rem;
	font-style: italic;
	width: 100%;
	height: 100%;
	text-align: center;
	line-height: 120px;

	position: absolute;
	top: 0;
	left: 0;
}

.first .cross1{
	width: 25px;
	height: 25px;
	/*background-color: purple;*/
	text-align: center;
	line-height: 25px;
	color: #fff;
	font-size: 1.2rem;

	position: absolute;
	top: 1%;
	right: 2%;

	/*opacity: 0;*/
	z-index: 3;
}

.first .firstphoto{
	width: 100%;
	height: 100%;
	object-fit: cover;

	/*opacity: 0;*/

	z-index: 2;
}

.photos .second{
	color: purple;
	width: 125px;
	height: 120px;
	background-color: skyblue;
	box-shadow: 0px 0px 3px 4px rgba(0, 0, 0, 0.3);

	position: relative;
}

.second::before{
	content: '2nd Date';
	font-size: 1.2rem;
	font-style: italic;
	width: 100%;
	height: 100%;
	text-align: center;
	line-height: 120px;

	position: absolute;
	top: 0;
	left: 0;
}

.second .cross2{
	width: 25px;
	height: 25px;
	/*background-color: purple;*/
	text-align: center;
	line-height: 25px;
	color: #fff;
	font-size: 1.2rem;

	position: absolute;
	top: 1%;
	right: 2%;

	/*opacity: 0;*/
	z-index: 3;
}

.second .secondphoto{
	width: 100%;
	height: 100%;
	object-fit: cover;

	/*opacity: 0;*/

	z-index: 2;
}

.photos .third{
	color: purple;
	width: 140px;
	height: 120px;
	background-color: skyblue;
	box-shadow: 0px 0px 3px 4px rgba(0, 0, 0, 0.3);

	position: relative;
}

.third::before{
	content: '3rd Date';
	font-size: 1.2rem;
	font-style: italic;
	width: 100%;
	height: 100%;
	text-align: center;
	line-height: 120px;

	position: absolute;
	top: 0;
	left: 0;
}

.third .thirdphoto{
	width: 100%;
	height: 100%;
	object-fit: cover;

	/*opacity: 0;*/

	z-index: 2;
}

.third .cross3{
	width: 25px;
	height: 25px;
	/*background-color: purple;*/
	text-align: center;
	line-height: 25px;
	color: #fff;
	font-size: 1.2rem;

	position: absolute;
	top: 1%;
	right: 2%;

	/*opacity: 0;*/
	z-index: 3;
}

.photos .fourth{
	color: purple;
	width: 120px;
	height: 120px;
	background-color: skyblue;
	box-shadow: 0px 0px 3px 4px rgba(0, 0, 0, 0.3);

	position: relative;
}

.fourth::before{
	content: '4th Date';
	font-size: 1.2rem;
	font-style: italic;
	width: 100%;
	height: 100%;
	text-align: center;
	line-height: 120px;

	position: absolute;
	top: 0;
	left: 0;
}

.fourth .fourthphoto{
	width: 100%;
	height: 100%;
	object-fit: cover;

	/*opacity: 0;*/

	z-index: 2;
}

.fourth .cross4{
	width: 25px;
	height: 25px;
	/*background-color: purple;*/
	text-align: center;
	line-height: 25px;
	color: #fff;
	font-size: 1.2rem;

	position: absolute;
	top: 1%;
	right: 2%;

	/*opacity: 0;*/
	z-index: 3;
}

.photos .fifth{
	color: purple;
	width: 300px;
	height: 130px;
	background-color: skyblue;
	box-shadow: 0px 0px 3px 4px rgba(0, 0, 0, 0.3);

	position: relative;

	margin: 25px auto;
}

.fifth::before{
	content: '5th Date';
	font-size: 1.4rem;
	font-style: italic;
	width: 100%;
	height: 100%;
	text-align: center;
	line-height: 120px;

	position: absolute;
	top: 0;
	left: 0;
}

.fifth .fifthphoto{
	width: 100%;
	height: 100%;
	object-fit: cover;

	/*opacity: 0;*/

	z-index: 2;
}

.fifth .cross5{
	width: 25px;
	height: 25px;
	/*background-color: purple;*/
	text-align: center;
	line-height: 25px;
	color: #fff;
	font-size: 1.2rem;

	position: absolute;
	top: 1%;
	right: 2%;

	/*opacity: 0;*/
	z-index: 3;
}

.photos .sixth{
	color: purple;
	width: 120px;
	height: 120px;
	background-color: skyblue;
	box-shadow: 0px 0px 3px 4px rgba(0, 0, 0, 0.3);

	position: relative;
}

.sixth::before{
	content: '6th Date';
	font-size: 1.2rem;
	font-style: italic;
	width: 100%;
	height: 100%;
	text-align: center;
	line-height: 120px;

	position: absolute;
	top: 0;
	left: 0;
}

.sixth .sixthphoto{
	width: 100%;
	height: 100%;
	object-fit: cover;

	/*opacity: 0;*/

	z-index: 2;
}

.sixth .cross6{
	width: 25px;
	height: 25px;
	/*background-color: purple;*/
	text-align: center;
	line-height: 25px;
	color: #fff;
	font-size: 1.2rem;

	position: absolute;
	top: 1%;
	right: 2%;

	/*opacity: 0;*/
	z-index: 3;
}

.photos .seventh{
	color: purple;
	width: 200px;
	height: 120px;
	background-color: skyblue;
	box-shadow: 0px 0px 3px 4px rgba(0, 0, 0, 0.3);

	position: relative;
}

.seventh::before{
	content: '7th Date';
	font-size: 1.2rem;
	font-style: italic;
	width: 100%;
	height: 100%;
	text-align: center;
	line-height: 120px;

	position: absolute;
	top: 0;
	left: 0;
}

.seventh .seventhphoto{
	width: 100%;
	height: 100%;
	object-fit: cover;

	/*opacity: 0;*/

	z-index: 2;
}

.seventh .cross7{
	width: 25px;
	height: 25px;
	/*background-color: purple;*/
	text-align: center;
	line-height: 25px;
	color: #fff;
	font-size: 1.2rem;

	position: absolute;
	top: 1%;
	right: 2%;

	/*opacity: 0;*/
	z-index: 3;
}

#memory footer{
	display: flex;
	justify-content: center;
	align-items: center;
}

#memory footer p{
	margin-right: 25px;
}

}