*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
	color: #fff;
	height: 780px;
	background-image: url('img/bgg.jpg');
	background-size: cover;
	background-repeat: no-repeat;

}

@media screen and (orientation: landscape){
	body{
		display: none;
	}
}

@media screen and (orientation: portrait){

#main{
	width: 100%;
	height: 100%;
	
	position: relative;
}

#main .menu{
	cursor: pointer;

	margin: 15px 6px;
}

.menu .line1{
	width: 18px;
	height: 1px;
	background-color: #fff;

	margin: 5px 10px;
}

.menu .line2{
	width: 13px;
	height: 1px;
	background-color: #fff;

	margin-left: 10px;
}

.menu .line3{
	width: 17px;
	height: 1px;
	background-color: #fff;

	margin: 5px 10px;
}

#main .content{
	width: 100%;
	height: 93%;
	/*background-color: skyblue;*/

	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-direction: column;
}

.content .title span{
	color: #fff;
	font-size: 1.2rem;
	letter-spacing: 1px;
}

.content .title h1{
	color: #fff;
	text-align: center;
	font-size: 2rem;
	letter-spacing: 2.5px;

	margin-top: 10px;
}

.content .info{
	display: flex;
	justify-content: center;
	align-items: center;

	margin-bottom: 50px;
}

.info .profile{
	width: 68px;
	height: 68px;
	border-radius: 50%;
	background-color: blue;
}

.profile img{
	width: 100%;
	height: 100%;
	object-fit: cover;
	border-radius: 50%;
}

.info .love{
	width: 28px;
	height: 28px;
	/*border-radius: 50%;*/
	background-color: #f20044;
	transform: rotate(-45deg);
	box-shadow: -10px 10px 90px #f20044;
	animation: heart 0.6s linear infinite;

	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0 35px;

	position: relative;
}

@keyframes heart{
	0%{
		transform: rotate(-45deg) scale(1.07);
	}
	80%{
		transform: rotate(-45deg) scale(1);
	}
	100%{
		transform: rotate(-45deg) scale(0.8);
	}

}

.love::before{
	content: "";
	width: 100%;
	height: 100%;
	background-color: #f20044;
	border-radius: 50%;
	box-shadow: -10px -10px 90px #f20044;

	position: absolute;
	top: -50%;
}

.love::after{
	content: "";
	width: 100%;
	height: 100%;
	background-color: #f20044;
	border-radius: 50%;
	box-shadow: 10px 10px 90px #f20044;

	position: absolute;
	right: -50%;
}

.fa-heart{
	font-size: 1.2rem;
}

#memory{
	width: 100%;
	height: 796px;
	background-image: url('img/bg.jpg');
	background-size: cover;
	background-repeat: no-repeat;

	position: absolute;
	top: 0;
	left: 0;
}

#memory .close{
	margin: 12px 20px 8px 0;
}

.close span{
	letter-spacing: 1px;
}

.close i{
	margin-left: 110px;
}

.fa-xmark{
	font-size: 1.4rem;
}

#memory .photos{
	width: 100%;
	height: 92%;
	/*background-color: skyblue;*/

	margin-top: 15px;
}

.photos .images{
	display: flex;
	justify-content: space-around;

	margin-bottom: 20px;
}

/*Additional CSS*/

.hide{
	opacity: 0;
}


.photos .first{
	color: purple;
	width: 170px;
	height: 85px;
	background-color: skyblue;
	box-shadow: 0px 0px 3px 4px rgba(0, 0, 0, 0.3);

	position: relative;
}

.first .date1{
	font-size: 1em;
	font-style: italic;
	width: 100%;
	height: 100%;

	position: absolute;
	top: 33%;
	left: 30%;
	/*transform: translate(-50%,-50%);*/
}

/*.first::before{
	content: '1st Date';
	font-size: 1.4rem;
	font-style: italic;
	width: 100%;
	height: 100%;
	text-align: center;
	line-height: 120px;

	position: absolute;
	top: 0;
	left: 0;
}*/

.first .cross1{
	width: 20px;
	height: 20px;
	/*background-color: purple;*/
	text-align: center;
	line-height: 25px;
	color: #fff;
	font-size: 1.2rem;

	position: absolute;
	top: 1%;
	right: 2%;

	/*opacity: 0;*/
	z-index: 3;
}

.first .firstphoto{
	width: 100%;
	height: 100%;
	object-fit: cover;

	position: relative;

	/*opacity: 0;*/

	z-index: 2;
}

.photos .second{
	color: purple;
	width: 125px;
	height: 120px;
	background-color: skyblue;
	box-shadow: 0px 0px 3px 4px rgba(0, 0, 0, 0.3);

	position: relative;
}

.second .date2{
	font-size: 1rem;
	font-style: italic;
	width: 100%;
	height: 100%;

	position: absolute;
	top: 30%;
	left: 33%;
}

.second .cross2{
	width: 25px;
	height: 25px;
	/*background-color: purple;*/
	text-align: center;
	line-height: 25px;
	color: #fff;
	font-size: 1.2rem;

	position: absolute;
	top: 1%;
	right: 2%;

	/*opacity: 0;*/
	z-index: 3;
}

.second .secondphoto{
	width: 100%;
	height: 100%;
	object-fit: cover;

	/*opacity: 0;*/

	z-index: 2;
}

.photos .third{
	color: purple;
	width: 110px;
	height: 90px;
	background-color: skyblue;
	box-shadow: 0px 0px 3px 4px rgba(0, 0, 0, 0.3);

	position: relative;
}

.third .date3{
	font-size: 1rem;
	font-style: italic;
	width: 100%;
	height: 100%;

	position: absolute;
	top: 33%;
	left: 30%;
}

.third .thirdphoto{
	width: 100%;
	height: 100%;
	object-fit: cover;

	/*opacity: 0;*/

	z-index: 2;
}

.third .cross3{
	width: 20px;
	height: 20px;
	/*background-color: purple;*/
	text-align: center;
	line-height: 25px;
	color: #fff;
	font-size: 1.2rem;

	position: absolute;
	top: 1%;
	right: 2%;

	/*opacity: 0;*/
	z-index: 3;
}

.photos .fourth{
	color: purple;
	width: 90px;
	height: 90px;
	background-color: skyblue;
	box-shadow: 0px 0px 3px 4px rgba(0, 0, 0, 0.3);

	position: relative;
}

.fourth .date4{
	font-size: 1rem;
	font-style: italic;
	width: 100%;
	height: 100%;

	position: absolute;
	top: 33%;
	left: 30%;
}

.fourth .fourthphoto{
	width: 100%;
	height: 100%;
	object-fit: cover;

	/*opacity: 0;*/

	z-index: 2;
}

.fourth .cross4{
	width: 20px;
	height: 20px;
	/*background-color: purple;*/
	text-align: center;
	line-height: 25px;
	color: #fff;
	font-size: 1.2rem;

	position: absolute;
	top: 1%;
	right: 2%;

	/*opacity: 0;*/
	z-index: 3;
}

.photos .fifth{
	color: purple;
	width: 230px;
	height: 80px;
	background-color: skyblue;
	box-shadow: 0px 0px 3px 4px rgba(0, 0, 0, 0.3);

	position: relative;

	/*margin: 25px auto;*/
}

.fifth .date5{
	font-size: 1rem;
	font-style: italic;
	width: 100%;
	height: 100%;

	position: absolute;
	top: 33%;
	left: 30%;
}

.fifth .fifthphoto{
	width: 100%;
	height: 100%;
	object-fit: cover;

	/*opacity: 0;*/

	z-index: 2;
}

.fifth .cross5{
	width: 20px;
	height: 20px;
	/*background-color: purple;*/
	text-align: center;
	line-height: 25px;
	color: #fff;
	font-size: 1.2rem;

	position: absolute;
	top: 1%;
	right: 2%;

	/*opacity: 0;*/
	z-index: 3;
}

.photos .sixth{
	color: purple;
	width: 90px;
	height: 90px;
	background-color: skyblue;
	box-shadow: 0px 0px 3px 4px rgba(0, 0, 0, 0.3);

	position: relative;
}

.sixth .date6{
	font-size: 1rem;
	font-style: italic;
	width: 100%;
	height: 100%;

	position: absolute;
	top: 33%;
	left: 30%;
}

.sixth .sixthphoto{
	width: 100%;
	height: 100%;
	object-fit: cover;

	/*opacity: 0;*/

	z-index: 2;
}

.sixth .cross6{
	width: 20px;
	height: 20px;
	/*background-color: purple;*/
	text-align: center;
	line-height: 25px;
	color: #fff;
	font-size: 1.2rem;

	position: absolute;
	top: 1%;
	right: 2%;

	/*opacity: 0;*/
	z-index: 3;
}

.photos .seventh{
	color: purple;
	width: 170px;
	height: 90px;
	background-color: skyblue;
	box-shadow: 0px 0px 3px 4px rgba(0, 0, 0, 0.3);

	position: relative;
}

.seventh .date7{
	font-size: 1rem;
	font-style: italic;
	width: 100%;
	height: 100%;

	position: absolute;
	top: 33%;
	left: 30%;
}

.seventh .seventhphoto{
	width: 100%;
	height: 100%;
	object-fit: cover;

	/*opacity: 0;*/

	z-index: 2;
}

.seventh .cross7{
	width: 20px;
	height: 20px;
	/*background-color: purple;*/
	text-align: center;
	line-height: 25px;
	color: #fff;
	font-size: 1.2rem;

	position: absolute;
	top: 1%;
	right: 2%;

	/*opacity: 0;*/
	z-index: 3;
}

.photos .eightth{
	color: purple;
	width: 170px;
	height: 90px;
	background-color: skyblue;
	box-shadow: 0px 0px 3px 4px rgba(0, 0, 0, 0.3);

	position: relative;
}

.eightth .date8{
	font-size: 1rem;
	font-style: italic;
	width: 100%;
	height: 100%;

	position: absolute;
	top: 33%;
	left: 30%;
}

.eightth .eightthphoto{
	width: 100%;
	height: 100%;
	object-fit: cover;

	/*opacity: 0;*/

	z-index: 2;
}

.eightth .cross8{
	width: 20px;
	height: 20px;
	/*background-color: purple;*/
	text-align: center;
	line-height: 25px;
	color: #fff;
	font-size: 1.2rem;

	position: absolute;
	top: 1%;
	right: 2%;

	/*opacity: 0;*/
	z-index: 3;
}

.photos .nineth{
	color: purple;
	width: 170px;
	height: 90px;
	background-color: skyblue;
	box-shadow: 0px 0px 3px 4px rgba(0, 0, 0, 0.3);

	position: relative;
}

.nineth .date9{
	font-size: 1rem;
	font-style: italic;
	width: 100%;
	height: 100%;

	position: absolute;
	top: 33%;
	left: 30%;
}

.nineth .ninethphoto{
	width: 100%;
	height: 100%;
	object-fit: cover;

	/*opacity: 0;*/

	z-index: 2;
}

.nineth .cross9{
	width: 20px;
	height: 20px;
	/*background-color: purple;*/
	text-align: center;
	line-height: 25px;
	color: #fff;
	font-size: 1.2rem;

	position: absolute;
	top: 1%;
	right: 2%;

	/*opacity: 0;*/
	z-index: 3;
}

.photos .tenth{
	color: purple;
	width: 170px;
	height: 90px;
	background-color: skyblue;
	box-shadow: 0px 0px 3px 4px rgba(0, 0, 0, 0.3);

	position: relative;
}

.tenth .date10{
	font-size: 1rem;
	font-style: italic;
	width: 100%;
	height: 100%;

	position: absolute;
	top: 33%;
	left: 30%;
}

.tenth .tenthphoto{
	width: 100%;
	height: 100%;
	object-fit: cover;

	/*opacity: 0;*/

	z-index: 2;
}

.tenth .cross10{
	width: 20px;
	height: 20px;
	/*background-color: purple;*/
	text-align: center;
	line-height: 25px;
	color: #fff;
	font-size: 1.2rem;

	position: absolute;
	top: 1%;
	right: 2%;

	/*opacity: 0;*/
	z-index: 3;
}

.photos .eleventh{
	color: purple;
	width: 170px;
	height: 90px;
	background-color: skyblue;
	box-shadow: 0px 0px 3px 4px rgba(0, 0, 0, 0.3);

	position: relative;
}

.eleventh .date11{
	font-size: 1rem;
	font-style: italic;
	width: 100%;
	height: 100%;

	position: absolute;
	top: 33%;
	left: 30%;
}

.eleventh .eleventhphoto{
	width: 100%;
	height: 100%;
	object-fit: cover;

	/*opacity: 0;*/

	z-index: 2;
}

.eleventh .cross11{
	width: 20px;
	height: 20px;
	/*background-color: purple;*/
	text-align: center;
	line-height: 25px;
	color: #fff;
	font-size: 1.2rem;

	position: absolute;
	top: 1%;
	right: 2%;

	/*opacity: 0;*/
	z-index: 3;
}


#memory footer{
	display: flex;
	justify-content: center;
	align-items: center;
}

#memory footer p{
	margin:0 10px;
}

#memory footer i{
	color: #f20044;
}

